<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>SaqueBancario</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SaqueBancarioServlet</display-name>
		<servlet-name>SaqueBancarioServlet</servlet-name>
		<servlet-class>br.com.metatron.saquebancario.servlet.SaqueBancarioServlet</servlet-class>
	</servlet>

	<error-page>
		<exception-type>*</exception-type>
		<location>/erro.jsp</location>
	</error-page>

	<servlet-mapping>
		<servlet-name>SaqueBancarioServlet</servlet-name>
		<url-pattern>/SaqueBancarioServlet</url-pattern>
	</servlet-mapping>
</web-app>